@model ServiceViewModel
@{
    ViewData["Title"] = "Delete";
}


<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6">
            <div style="width: 200px; height: auto">
                <img src="~/assets/images/website-images/@ViewBag.Image" style="max-width:100%; max-height:auto" />

            </div>
            <h4>Title: @Model.Title</h4>
            <h4>Description: @Model.Description</h4>

            <div style="display: flex; gap: 15px">
                <a class="btn btn-info" asp-action="Index" asp-controller="Service">Go back</a>

                <form method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>



